devel/
build/
install/
log/
olds/
rosbags/
tests/
doc/
image/

.agents/
.vscode/
.cursor/
.cache/
__pycache__/
.docs/
.catkin_workspace
*.gv
*.pdf
*.pcd
rm_cache
rm_log

mat_pre.txt
mat_out.txt
imu.txt
dbg.txt
pos_log.txt
github_token

# Windows Zone Identifier files
*:Zone.Identifier